.img1{
    height: 200px;
    width: 200px;
    position: relative;
    left: 40%;


}

.on{
	height: 50px;
    width: 90px;
    margin: 10px;
    display: inline-block;
}

.off{
	display: inline-block;
	height: 50px;
    width: 55px;
    margin: 25px;
}

body{
	background-image: url(background1.jpg);
    background-size: cover;
}